<!-- This HTML file, contains the an equation that uses two numbers
for addition, subtraction and multiplication problems in the form of
number1 (+,-,*) number2 (+,-,*) number3 (+,-,*) number4 = answer. -->

<!-- Inheriting the side/top navigational bars as well as the general
page layout for a problem -->
{% extends "base.html" %}

<!-- Use the passed through variables to set up the page title -->
{% block title %}{{question_dict["heading"]}}{% endblock %}

<!-- Use the passed through variables to show user the category and
 difficulty in the top left corner of the web page-->
{% block category %}{{question_dict["heading"]}}{% endblock %}

<!-- Fill in the sidebar with applicable problem types -->
{% block sidebar %}
<a href="{{ url_for('add_sub_mult_problem', problem_type=question_dict['problem_type'], difficulty=question_dict['difficulty'], num_numbers='2') }}" class="list-group-item list-group-item-action bg-light">{{question_dict["problem_type"]}} With Two Numbers</a>
<a href="{{ url_for('add_sub_mult_problem', problem_type=question_dict['problem_type'], difficulty=question_dict['difficulty'], num_numbers='3') }}" class="list-group-item list-group-item-action bg-light">{{question_dict["problem_type"]}} With Three Numbers</a>
<a href="{{ url_for('add_sub_mult_problem', problem_type=question_dict['problem_type'], difficulty=question_dict['difficulty'], num_numbers='4') }}" class="list-group-item list-group-item-action bg-light">{{question_dict["problem_type"]}} With Four Numbers</a>
{% endblock %}

<!-- Setting up the actual problem view -->
{% block equation %}
<div style= "padding: 10px; margin-top:5%; margin-left: auto; margin-right:auto; margin-bottom: 5%;  width: 75%; text-align:center; height:400px; padding-bottom: 60px; padding-top:200px">
    <h1>{{question_dict["values"][0]}}  {{question_dict["sign"]}}  {{question_dict["values"][1]}}  {{question_dict["sign"]}}  {{question_dict["values"][2]}} {{question_dict["sign"]}}  {{question_dict["values"][3]}}</h1>
</div>
{% endblock %}

<!-- Setting up the submission button -->
{% block submission %}
<div style="width:50%; margin:auto; text-align:center;">
    <form method="POST">
        <div class="input-group mb-3">
            <input name='answer' type="text" class="form-control" placeholder="Type you answer here" aria-label="Recipient's username" aria-describedby="basic-addon2">
            <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit">Submit</button>
            </div>
        </div>
    </form>

    <a style="margin-top:5%" class="btn btn-primary" href="{{ url_for('add_sub_mult_problem', problem_type=question_dict['problem_type'], difficulty=question_dict['difficulty'], num_numbers=question_dict['num_numbers']) }}" role="button">Next Question</a>
</div>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
            {% if msg == 'Correct Answer!'%}
                <div style="margin-top: 4%; margin-left: auto; margin-right:auto; margin-bottom: auto; width: 50%;" class="alert alert-success" role="alert">
                    {{msg}}
                </div>
            {% else %}
                <div style="margin-top: 4%; margin-left: auto; margin-right:auto; margin-bottom: auto; width: 50%;" class="alert alert-danger" role="alert">
                    {{msg}}
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endwith %}

{% endblock %}