<!-- The first page the user sees when accessing the web app
     The home or login screen would fit into this, and may extend from
     a different template than the main template if needed -->

     <!DOCTYPE html>
     <html lang="en">
     
     <head>
     
       <meta charset="utf-8">
       <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
       <meta name="description" content="">
       <meta name="author" content="">
     
       <title>{% block title %}{% endblock %}</title>
     
       <!-- Bootstrap core CSS -->
       <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
     
       <!-- Custom styles for this template -->
       <link href="{{ url_for('static', filename='css/simple-sidebar.css')}}" rel="stylesheet">
     
     </head>
     
     <body>
     
       <div class="d-flex" id="wrapper">
     
         <!-- Page Content -->
         <div id="page-content-wrapper">
     
           <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
             <button class="btn btn-primary" id="menu-toggle">Toggle Menu</button>
     
             <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
             </button>
     
             <div class="collapse navbar-collapse" id="navbarSupportedContent">
               <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                 <li class="nav-item active">
                   <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                 </li>
                 <li class="nav-item">
                   <a class="nav-link" href="#">Link</a>
                 </li>
                 <li class="nav-item dropdown">
                   <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     Addition
                   </a>
                   <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                     <a class="dropdown-item" href="{{ url_for('add_sub_mult_problem', problem_type='Addition', difficulty='Beginner', num_numbers='2') }}">Beginner</a>
                     <div class="dropdown-divider"></div>
                     <a class="dropdown-item" href="#">Intermediate</a>
                     <div class="dropdown-divider"></div>
                     <a class="dropdown-item" href="#">Advanced</a>
                   </div>
                 </li>
               </ul>
             </div>
           </nav>
     
           <div class="container-fluid">
             <!-- Page Content -->
<div class="container">

                    <!-- Page Heading -->
                    <h1 class="my-4">Subjects
                    </h1>
               
                    <div class="row">
                    <div class="col-lg-4 col-sm-6 mb-4">
                    <div class="card h-100">
                         <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                         <div class="card-body">
                         <h4 class="card-title">
                              <h2>Addition</h2>
                         </h4>
                         <ul>
                              <li><a href="{{ url_for('add_sub_mult_problem', problem_type='Addition', difficulty='Beginner', num_numbers='2') }}">Beginner</a></li>
                              <li><a href="{{ url_for('add_sub_mult_problem', problem_type='Addition', difficulty='Intermediate', num_numbers='2') }}">Intermediate</a></li>
                              <li><a href="{{ url_for('add_sub_mult_problem', problem_type='Addition', difficulty='Advanced', num_numbers='2') }}">Advanced</a></li>
                         </ul>
                         </div>
                    </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4">
                    <div class="card h-100">
                         <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                         <div class="card-body">
                         <h4 class="card-title">
                              <h2>Subtraction</h2>
                         </h4>
                        <ul>
                             <li><a href ="{{ url_for('add_sub_mult_problem', problem_type='Subtraction', difficulty='Beginner', num_numbers='2') }}">Beginner</a></li>
                             <li><a href ="{{ url_for('add_sub_mult_problem', problem_type='Subtraction', difficulty='Intermediate', num_numbers='2') }}">Intermediate</a></li>
                             <li><a href ="{{ url_for('add_sub_mult_problem', problem_type='Subtraction', difficulty='Advanced', num_numbers='2') }}">Advanced</a></li>
                        </ul>
                         </div>
                    </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4">
                    <div class="card h-100">
                         <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                         <div class="card-body">
                         <h4 class="card-title">
                              <h2>Multiplication</h2>
                         </h4>
                         <ul>
                              <li><a href = "{{ url_for('add_sub_mult_problem', problem_type='Multiplication', difficulty='Beginner', num_numbers='2') }}">Beginner</a></li>
                              <li><a href = "{{ url_for('add_sub_mult_problem', problem_type='Multiplication', difficulty='Intermediate', num_numbers='2') }}">Intermediate</a></li>
                              <li><a href = "{{ url_for('add_sub_mult_problem', problem_type='Multiplication', difficulty='Advanced', num_numbers='2') }}">Advanced</a></li>
                         </ul>
                         </div>
                    </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4">
                    <div class="card h-100">
                         <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                         <div class="card-body">
                         <h4 class="card-title">
                              <h2>Division</h2>
                         </h4>
                         <ul>
                              <li><a href = "{{ url_for('division_problem', difficulty='Beginner') }}">Beginner</a></li>
                              <li><a href = "{{ url_for('division_problem', difficulty='Intermediate') }}">Intermediate</a></li>
                              <li><a href = "{{ url_for('division_problem', difficulty='Advanced') }}">Advanced</a></li>
                         </ul>
                         </div>
                    </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4">
                    <div class="card h-100">
                         <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                         <div class="card-body">
                         <h4 class="card-title">
                              <h2>Exponents and Logarithms</h2>
                         </h4>
                         <ul>
                              <li><a href = "#">Basics</a></li>
                         </ul>
                         </div>
                    </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4">
                    <div class="card h-100">
                         <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                         <div class="card-body">
                         <h4 class="card-title">
                              <h2>Basic Algebra</h2>
                         </h4>
                         <ul>
                              <li><a href = "#">Basic Single Variable Equations</a></li>
                              <li><a href = "#">System of Equations</a></li>
                              <li><a href = "#">Inequalities</a></li>
                              <li><a href = "#">Quadratic Formula</a></li>
                              <li><a href = "#">Converting Units</a></li>
                         </ul>
                         </div>
                    </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4">
                    <div class="card h-100">
                         <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                         <div class="card-body">
                         <h4 class="card-title">
                              <h2>Geometry</h2>
                         </h4>
                         <ul>
                              <li><a href = "#">Area</a></li>
                              <li><a href = "#">Volume</a></li>
                              <li><a href = "#">Surface Area</a></li>
                              <li><a href = "#">Circle Properties</a></li>
                         </ul>
                         </div>
                    </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4">
                    <div class="card h-100">
                         <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                         <div class="card-body">
                         <h4 class="card-title">
                              <h2>Trigonometry</h2>
                         </h4>
                         <ul>
                              <li><a href = "#">Pythagorean Theorem</a></li>
                              <li><a href = "#">Special Triangles</a></li>
                              <li><a href = "#">Similar Triangles</a></li>
                              <li><a href = "#">Laws for Triangles</a></li>
                              <li><a href = "#">Theorems for Triangles</a></li>
                         </ul>
                         </div>
                    </div>
                    </div>
                    </div>
                    <!-- /.row -->
               
                    <!-- Pagination -->
                    <ul class="pagination justify-content-center">
                    <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                              <span aria-hidden="true">&laquo;</span>
                              <span class="sr-only">Previous</span>
                         </a>
                    </li>
                    <li class="page-item">
                    <a class="page-link" href="#">1</a>
                    </li>
                    <li class="page-item">
                    <a class="page-link" href="#">2</a>
                    </li>
                    <li class="page-item">
                    <a class="page-link" href="#">3</a>
                    </li>
                    <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                              <span aria-hidden="true">&raquo;</span>
                              <span class="sr-only">Next</span>
                         </a>
                    </li>
                    </ul>
               
               </div>
               <!-- /.container -->
           </div>
         </div>
         <!-- /#page-content-wrapper -->
     
       </div>
       <!-- /#wrapper -->
     
       <!-- Bootstrap core JavaScript -->
       <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js')}}"></script>
       <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
     
       <!-- Menu Toggle Script -->
       <script>
         $("#menu-toggle").click(function(e) {
           e.preventDefault();
           $("#wrapper").toggleClass("toggled");
         });
       </script>
     
     </body>
     
     </html>