<!-- The page for an overview of all the 
    available lessons and choices to choose from.
    May lead to more category pages if needed, or 
    include drop downs -->

{% extends "base.html" %}
{% block title %}Lessons Page{% endblock %}
{% block sidebar %}
<a href="#" class="list-group-item list-group-item-action bg-light">Exercise 1</a>
<a href="#" class="list-group-item list-group-item-action bg-light">Exercise 2</a>
{% endblock %}
{% block equation %}
<h1 style= "text-align:center;">this is where the equation goes</h1>
{% endblock %}
{% block submission %}
<h2 style= "text-align:center;">this is where the submission goes</h2>
{% endblock %}